<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>


<div class="form-group">
  <label for="gender1" class="col-sm-2 control-label">Gender</label>
  <div class="col-sm-2">
    <select class="form-control" id="gender1">
      <option>Male</option>
      <option>Female</option>
    </select>

  </div>
</div>